---
import Layout from "../layouts/Layout.astro";

---

<Layout title="title">
  {{title}}
  <!-- 
  Latest
  {article_data}
  <Slider slidedata={article_data} />
  {
    keyz.map((item) => (
      <>
        <span>{item}</span>
        <Slider transition:persist slidedata={grouped[item]} />
      </>
    ))
  } -->
</Layout>

<script>
  let slug

   if  (!slug) {
    console.log("special");
  } else {
    console.log("country111");
  }
  fetch("http://localhost:3000/" + slug + ".json")
    .then((res) => res.json())
    .then((data) => {
      console.log("fetch"+data);
    });
</script>
